<%- include('partials/header.ejs')%>
<div class="container">
    <hr>

    <div class="card">

        <div class="card-body">
            <h1><%= pergunta.titulo %></h1>
            <p><%= pergunta.descricao %></p>
        </div>

        <div class="card-footer">
            <form method="POST" action="/responder">
                <h5>Reponder</h5>
                <textarea class="form-control" placeholder="Digite sua resposta" name="corpo"></textarea>
                <br>
                <input type="hidden" name="perguntaIdTela" value=" <%= pergunta.id %> ">
                <button type="submit" class="btn btn-primary">Responder</button>
            </form>
        </div>

    </div>

    <div>
        <% respostas.forEach(resposta => { %>
            <br>

            <div class="card">

                <div class="card-body">
                    <%= resposta.corpo %>
                </div>

                <div class="card-footer">
                    <p>Respondida em:
                        <%= resposta.createdAt.getDate()+1 %>
                        <label for="">/</label>
                        <%= resposta.createdAt.getMonth() + 1 %>
                    </p>
                </div>

            </div>
        <% }); %>

    </div>

</div>
<%- include('partials/footer-scripts.ejs') %>
